@model WebApplication2.Models.RestaurantModel

@{
    ViewBag.Title = "Details";
}
<h2 class="text-center text-primary">Employee</h2>

<ul class="nav nav-tabs bg-success justify-content-center">

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/Employee/RestaurantList">Restaurant List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/CollectionRequestList">Collection Request</a>
    </li>

    <li>
        <a href="~/User/AddUser">Log Out</a>
    </li>
</ul>
<h2>Restaurant Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    
</p>
